.iv_images{
  width:230px;
  height:153px;
  background-size:100% 100%;
}
.navbar-inverse {
	background-color: #F3AB28 !important;
	border-color: #F3AB28!important;
}
.navbar-inverse .navbar-brand {
	color: #e12230 !important;
}
.logout {
	color: #fff !important;
}
.navbar {
	border-radius: 0px !important;
}
.list-unstyled li {
	margin-bottom: 5px !important;
	font-size: 15px;
}

.list-unstyled li a {
	color: #99a815;
}
.green {
  color: #99a815 !important;
}

.vote-nominee {
  cursor: pointer;
}
