.iv_images{
  width:230px;
  height:153px;
  background-size:100% 100%;
}
.navbar-inverse {
	background-color: #fff !important;
	border-color: #fff;
	border-top: 7px solid #E22331 !important;
	box-shadow: 1px 1px 5px #999;
}
.navbar-inverse .navbar-brand {
	color: #e12230 !important;
}

.logout {
	color: #fff !important;
	float: right;
}
.navbar {
	border-radius: 0px !important;
}
.list-unstyled li {
	margin-bottom: 5px !important;
	font-size: 15px;
}

#navbar {
	width: 120px;
}

.navbar-brand {
	height: 60px !important;
	padding: 5px !important;
}

.list-unstyled li a {
	color: #99a815;
}
.green {
  color: #99a815 !important;
}
.orange {
  color: #F3AB28;
}

.collapse {
  width: 50px;
  float: right !important;
}

.vote-nominee {
  cursor: pointer;
}

.container>.navbar-header {
	margin-bottom: 10px;
}

.logout {
	color: #8D8F91 !important;
}
.navbar-nav>li>a {
	font-size: 17px;
	text-transform: capitalize;
	line-height: 2.4;
}
 h3 {
    text-align: center;
  }

 .active {
   color: #E22331 !important;
 }