.feature, .main-feature {
  margin-bottom: 30px;
}

.nominee-name-header {
  text-align: left;
  text-transform: capitalize;
}

.nominee-feature-stats {
  min-height: 410px;
  padding: 0;
  border-radius: 3px;
}


.nominee-stat-box header {
  height: 7px;
  background: rgba(174, 192, 28, 0.9);
}

.nominee-counter {
  margin: 9%;
}

.bigger-font-1 {
	font-size: 17px;
}
.bigger-font-2 {
	font-size: 28px;
  font-weight: 500;
}

.dcomment .dpic {
  padding-top: 5px;
  text-align: center;
}

.prim-msg {
  color: rgba(138, 153, 15, 1);
}

.profile-social-share {
  text-align: center;
  word-spacing: 5px;
}

.profile-stats-group {
  margin-top: 10%;
}