.nominee-name-header {
  text-align: center;
}

.nominee-feature-stats {
  min-height: 410px;
  border: 1px solid #ddd;
  padding: 0;
}


.nominee-stat-box header {
  height: 7px;
  background: rgba(174, 192, 28, 0.9);
}

.nominee-counter {
  margin: 9%;
}