.nominee-name-header {
  text-align: left;
  text-transform: capitalize;
}

.nominee-feature-stats {
  min-height: 410px;
  padding: 0;
  border-radius: 3px;
}


.nominee-stat-box header {
  height: 7px;
  background: rgba(174, 192, 28, 0.9);
}

.nominee-counter {
  margin: 9%;
}
.bigger-font-1 {
	font-size: 20px;
}
.bigger-font-2 {
	font-size: 30px;
}

.dcomment .dpic {
  padding-top: 5px;
  text-align: center;
}