.alert {
  margin-bottom: 10px;
  margin-top: 0;
  color: #675100;
  border-width: 0;
  border-left-width: 5px;
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.alert-success {
  border-color: #8ac38b;
  color: #356635;
  background-color: #cde0c4;
}

.alert-warning {
  border-color: #dfb56c;
  color: #826430;
  background-color: #efe1b3;
}

.alert-info {
  border-color: #9cb4c5;
  color: #305d8c;
  background-color: #d6dde7;
}

.danger {
  color: #a94442;
  cursor: pointer;
}