<template name="AdminDashboard">
  <style>
    table {
      margin: 0 auto !important;
      width: 70% !important;
      float: left;
    }

    .buttons {
      margin-bottom: 20px;
      float: left;
      width: 100%;
    }

    path.slice{
      stroke-width:2px;
    }

    polyline{
      opacity: .3;
      stroke: black;
      stroke-width: 2px;
      fill: none;
    }

    svg text.percent{
      fill:white;
      text-anchor:middle;
      font-size:12px;

    .btn-warning {
      color: #fff;
      background-color: #9baa11 !important;
      border-color: #9baa11 !important;
    }
  </style>
  <div class="container">
    <div class="buttons">
      Create:
      <a href="/new/nominees/ngo" class="btn btn-warning" role="button">NGO</a>
      <a href="/new/nominees/corporate" class="btn btn-warning" role="button">Corporate</a>
      <a href="/new/nominees/volunteer" class="btn btn-warning" role="button">Volunteer</a>
      <a href="/add-notice" class="btn btn-warning" role="button">Notice</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Votes</th>
          <th>Email</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {{#each nominees}}
          <tr class="nominee" data-id={{_id}}>
            <td>{{type}}</td>
            <td>{{first_name}}</td>
            <td>{{vote_count}}</td>
            <td>{{email}}</td>
            <td>
              <a class="edit" href="/admin/edit/{{_id}}" >edit</a> | 
              <a class="remove" data-id="{{_id}}" href="#" >delete</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <svg width="300px" height="300px" class="pull-right">
      <g id="d3-chart">
      </g>
      <g id="legends"></g>
    </svg>
  </div>
</template>

