<template name="AdminDashboard">
  <style>
    .collapse {
      width: 50px;
      float: right !important;
    }

    .logout {
      float: right;
    }
    table {
      margin: 0 auto !important;
      width: 700px !important;
    }
  </style>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>votes</th>
        <th>email</th>
        <th>update</th>
      </tr>
    </thead>
    <tbody>
      {{#each nominees}}
        <tr>
          <td>{{first_name}}</td>
          <td>{{vote_count}}</td>
          <td>{{email}}</td>
          <td>
            <a class="edit" href="/admin/edit/{{_id}}" >edit</a>
            <a class="remove" href="/admin/edit/{{_id}}" >delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

