<template name="home">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">iVolunteer</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Home</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <div class="row">

      <div class="col-sm-3 blog-sidebar">
        <div class="sidebar-module">
          <h4>ALL CATEGORIES</h4>
          <ol class="list-unstyled">
            <li><a href="#">NGO</a></li>
            <li><a href="#">Volunteer</a></li>
            <li><a href="#">Corporates</a></li>
          </ol>
        </div>
      </div><!-- /.blog-sidebar -->

      <div class="col-sm-8">
           <div class="row">
            {{#each nominees}}
              <!-- <p>Hi there</p> -->
              <div class="col-md-4">
                  <div class="iv_images" style="background-image:url('{{image}}')">
                  </div>
                  <div class="wrapper_card">
                    <div class="title">{{name}}</div>
                  </div>
              </div>
            {{/each}}
          </div>
      </div><!-- /.blog-main -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="blog-footer">
  </div>
</template>
