<template name="NomineeProfile">
  <div class="container">
    <header>
      <h1 class='col-md-8 nominee-name-header'>{{fullName}}</h1>
    </header>
    <section class="feature">
      <div class="nominee-profile-pic col-md-7">
        <img src="{{image}}" class="img-responsive img-thumbnail" />
      </div>
      <div class="nominee-feature-stats col-md-3">
        <div class="nominee-stat-box">
          <header>

          </header>
        </div>
      </div>
    </section>
  </div>
</template>
